@import model.GameData
@import views.html.game_components.resource_panel
@import views.html.game_components.player_list_panel
@import views.html.game_components.grid
@import views.html.game_components.log_panel
@import views.html.game_components.player_panel
@import views.html.game_components.action_panel
@import com.aimit.htwg.catan.model.Info
@import views.html.infos.dice_info
@import com.aimit.htwg.catan.model.DiceInfo
@import views.html.infos.gather_info
@import com.aimit.htwg.catan.model.GatherInfo
@import model.RequestError
@import views.html.helper.form
@( gameData:GameData, info:Option[Info], errors:List[RequestError] = Nil )


@main( stylesheets = List( "game.css", "grid.css" ), errors = errors ) {

	<style>
			#gridPanel {
				background-image: url( @routes.Assets.versioned( "images/map_background.png" ) );
				border-image: url( @routes.Assets.versioned( "images/map_border.png" ) ) 11 round !important;
			}
	</style>

	<div id="mainPanels" class="row mx-0">
		<div id="gamePanel" class="col-md-2 row mx-0 p-0 ropeBorder">
			@resource_panel( gameData )
			@player_list_panel( gameData )
		</div>
		<div id="middlePanel" class="col-md-8 p-0">
			<a id="homeButton" class="button navButton2" href="@routes.HomeController.index()">
				<img src="@routes.Assets.versioned( "images/home.png" )" alt="Home" />
			</a>
			<label for="uploadInput" id="uploadButton" class="button navButton2">
				<img src="@routes.Assets.versioned( "images/upload.png" )" alt="Upload" />
				<input type="file" id="uploadInput" href="@routes.GameController.uploadGame()" />
			</label>
			<a id="downloadButton" class="button navButton2" href="@routes.GameController.downloadGame()">
				<img src="@routes.Assets.versioned( "images/download.png" )" alt="Download" />
			</a>
			@if( gameData.hasUndo ) {
				<a id="undoButton" class="button asyncButton navButton2" href="@routes.GameController.undo()">
					<img src="@routes.Assets.versioned( "images/undo.png" )" alt="Undo" />
				</a>
			}
			@if( gameData.hasRedo ) {
				<a id="redoButton" class="button asyncButton navButton2" href="@routes.GameController.redo()">
					<img src="@routes.Assets.versioned( "images/redo.png" )" alt="Redo" />
				</a>
			}
			<div id="gridPanel">
				<img id="compass" src="@routes.Assets.versioned( "images/compass_2.png" )" alt="" />
				<div>@grid( gameData )</div>
			</div>
			@* @log_panel( gameData ) *@
		</div>
		<div id="turnPanel" class="col-md-2 row mx-0 p-0 ropeBorder">
			@player_panel( gameData, gameData.game.player( gameData.game.onTurn ) )
			@action_panel( gameData )
		</div>
	</div>


	@if( info.isDefined ) {
		<input type="checkbox" id="gameInfoToggle" checked/>
		<label for="gameInfoToggle" id="gameInfo" class="dialogDisplay">
			<div>
				@info.get match {
					case i:DiceInfo => {
						@dice_info( i )
					}
					case i:GatherInfo => {
						@gather_info( i )
					}
					case i => {
						<p>@i.toString</p>
					}
				}
			</div>
		</label>
	}

}