@import model.GameData
@import views.html.game_components.resource_panel
@import views.html.game_components.player_list_panel
@import views.html.game_components.grid
@import views.html.game_components.log_panel
@import views.html.game_components.player_panel
@import views.html.game_components.action_panel
@( gameData:GameData )


@main( stylesheets = List( "game.css", "grid.css" ) ) {
	@nav( Some( gameData ) ) {
		<style>
				#gridPanel {
					background-image: url( @routes.Assets.versioned( "images/map_background.png" ) );
					border-image: url( @routes.Assets.versioned( "images/map_border.png" ) ) 11 round !important;
				}
		</style>

		<div id="mainPanels" class="row mx-0">
			<div id="gamePanel" class="col-md-2 row mx-0 p-0 ropeBorder">
				@resource_panel( gameData )
				@player_list_panel( gameData )
			</div>
			<div id="middlePanel" class="col-md-8 p-0">
				<div id="gridPanel">
					<img id="compass" src="@routes.Assets.versioned( "images/compass_2.png" )" alt="" />
					<div>@grid( gameData )</div>
				</div>
				@* @log_panel( gameData ) *@
			</div>
			<div id="turnPanel" class="col-md-2 row mx-0 p-0 ropeBorder">
				@player_panel( gameData, gameData.game.player( gameData.game.onTurn ) )
				@action_panel( gameData )
			</div>
		</div>
	}
}