@import com.aimit.htwg.catan.model.Game
@import scala.math._
@import com.aimit.htwg.catan.model.Hex
@import com.aimit.htwg.catan.model.GameField.Row
@import com.aimit.htwg.catan.model.Resource
@import com.aimit.htwg.catan.model._
@import scala.collection.mutable
@import com.aimit.htwg.catan.util.RichOption
@* @( game:Game, resourceImages:Map[Resource, List[String]], resourceCounter:mutable.Map[Resource, Int] = mutable.Map() ) *@
@import model.GameData
@( gameData:GameData )

@fieldWidth = @{ gameData.gameField.fieldWidth }
@h = @{ 100 / ( 1 + ( gameData.gameField.fieldHeight - 1 ) * 0.75 ) }


<style>
	#grid {
		aspect-ratio: @{ fieldWidth / ( 1 + ( gameData.gameField.fieldHeight - 1 ) * 0.75 ) * cos( 30.toRadians ) };
	}

	.gridRow {
		margin-bottom: calc( @{ 0 - 100 / fieldWidth / cos( 30.toRadians ) * 0.25 }% - 1.3px);
		height: @{ h }%;
	}

	@*.hex, .gridRowSpacer, .hexSpacer {
	}

	.hex:before {
		width: @{ w }vh;
		height: @{ h }vh;
	}

	.gridRowSpacer {
	}

	#gridBottomSpacer {
		height: @{ h * 0.25 }%;
	}*@
</style>


<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<filter id="buildingFilter"><feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
			<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="buildingFilter" />
			<feComposite in="SourceGraphic" in2="buildingFilter" operator="atop"/>
		</filter>
	</defs>
</svg>


<div id="grid">
	@for( row:Row[Hex] <- gameData.gameField.field ) {
		<div class="gridRow">
			@defining( row.filter( _.isDefined ).map( _.get ) ) { hexes =>
				@if( !( ( fieldWidth - hexes.length ).toDouble / 2 ).isWhole ) {
					<div class="gridRowSpacer"></div>
				}
				@for( j <- 0 until ( fieldWidth - hexes.length ) / 2 ) {
					<div class="hexSpacer"></div>
				}
			  	@for( hex <- hexes ) {
					@buildHex( hex )
				}
			}
		</div>
		<br />
	}
</div>


@buildHex( hex:Hex ) = {
	<div id="hex@hex.id" class="hex" style="background-image: url( @routes.Assets.versioned( gameData.imagePath( hex ) )">
		@* <img class="hexBackground" src="@imagePath( hex )" alt=""> *@
		<div class="hexRow1">
			<div class="hexCell hexCell1"></div>
			<div class="hexCell hexCell2"></div>
		</div>
		<div class="hexRow2">
			<div class="hexCell hexCell3"></div>
			<div class="hexCell hexCell5 roadE">@road( hex, 2 )</div>
			<div class="hexCell hexCell4"></div>
		</div>
		<div class="hexRow3">
			<div class="hexCell hexCell6 roadSW">@road( hex, 0 )</div>
			<div class="hexCell hexCell7 roadSE">@road( hex, 1 )</div>
		</div>
		@vertex( hex, 0, 1, "vertexS" )
		@vertex( hex, 1, 2, "vertexSE" )
	</div>
}


@road( hex:Hex, offsetIndex:Int ) = {
	@defining( gameData.gameField.adjacentEdge( hex, offsetIndex ) ) { edgeOption =>
		@if( edgeOption.isDefined && edgeOption.get.road.isDefined ) {
			<div class="road">
				<div class="placementBorder"></div>
				<div class="placementContent" style="background-color: @gameData.playerColor( edgeOption.get.road.get.owner )"></div>
			</div>
		}
	}
}

@vertex( hex:Hex, offsetIndex1:Int, offsetIndex2:Int, vertexClass:String ) = {
	@defining( gameData.gameField.adjacentVertex( hex, offsetIndex1, offsetIndex2 ) ) { vertexOption =>
	  @if( vertexOption.isDefined && vertexOption.get.building.isDefined ) {
		  @defining( gameData.buildingClass( vertexOption.get.building.get ) ) { buildingClass =>
			  <div class="vertex @vertexClass @buildingClass">
				  <div class="placementBorder"></div>
				  <div class="placementContent" style="background-color: @gameData.playerColor( vertexOption.get.building.get.owner )"></div>
			  </div>
		  }
	  }
	}
}