@()

<style>
  body {
    background-image: url( @routes.Assets.versioned( "images/main_theme.jpg" ) );
  }
</style>

@main( stylesheets = List( "index.css" ) ) {
  <div id="content">
    <img id="header" src="@routes.Assets.versioned( "images/main_header.png" )" alt="Settlers of Catan" />
    <div id="buttons">
      <a href="@routes.GameController.game()" class="button">Start Game</a>
      <a href="@routes.TUIController.game()" class="button">Start Game with TUI</a>
      <a target="_blank" href="/rules" class="button">Click here to open the rules</a>
    </div>
  </div>

}
