@import model.GameData
@import views.html.helper.form
@( gameData:Option[GameData] = None )( content:Html )

<div id="nav" class="col row mx-0 p-0">
	<a id="home" class="button navButton" href="@routes.HomeController.index()">
		<img src="@routes.Assets.versioned( "images/home.png" )" alt="Home" />
	</a>
	@if( gameData.isDefined ) {
		<label for="uploadInput" id="uploadButton" class="button navButton">
			<img src="@routes.Assets.versioned( "images/upload.png" )" alt="Upload" />
			<input type="file" id="uploadInput" href="@routes.GameController.uploadGame()" />
		</label>
		<a id="download" class="button navButton" href="@routes.GameController.downloadGame()">
			<img src="@routes.Assets.versioned( "images/download.png" )" alt="Download" />
		</a>
		<div class="col"></div>
		@if( gameData.get.hasUndo ) {
			<a id="undo" class="button asyncButton navButton" href="@routes.GameController.undo()">
				<img src="@routes.Assets.versioned( "images/undo.png" )" alt="Undo" />
			</a>
		}
		@if( gameData.get.hasRedo ) {
			<a id="redo" class="button asyncButton navButton" href="@routes.GameController.redo()">
				<img src="@routes.Assets.versioned( "images/redo.png" )" alt="Redo" />
			</a>
		}
	}
</div>
<div id="navContent">
	@content
</div>