@import model.form.TUIInput
@import util._
@import util.ConsoleString

@( gameDisplay:Option[String], stateDisplay:Iterable[String], actionInfo:String, info:Option[List[String]] = None, error:Option[String] = None, lines:List[String] = Nil )( implicit messages:Messages )

@main() {

    <style>
        body {
            background-color: black !important;
            color: white;
        }
    </style>

    <p style="font-family:'Lucida Console', monospace;white-space:pre">@Html( gameDisplay.getOrElse( "" ).filterColors )</p>
    <br />
    @for( l <- stateDisplay ) {
        <p style="font-family:'Lucida Console', monospace">@Html( l.filterColors )</p>
    }
    <br />
    @if( info.isDefined && info.get.nonEmpty ) {
        @for( l <- info.getOrElse( Nil ) ) {
            <p style="font-family:'Lucida Console', monospace">@Html( l.filterColors )</p>
        }
        <br />
    }
    <p style="font-family:'Lucida Console', monospace">@Html( actionInfo.filterColors )</p>
	<br />
    @if( error.isDefined ) {
        <p style="font-family:'Lucida Console', monospace">@Html( error.get.filterColors )</p>
        <br />
    }
    @if( lines.nonEmpty ) {
        @for( l <- lines ) {
            <p style="font-family:'Lucida Console', monospace">@Html( l.filterColors )</p>
        }
        <br />
    }
    @form( action = routes.TUIController.game() ) {
        <table>
            <tr>
                <td>
                    @util.input( TUIInput.form( "input" ) )
                </td>
                <td>
                    <input type="submit" value="->" />
                </td>
            </tr>
        </table>
    }
}