@import model.GameData
@import com.aimit.htwg.catan.model.state.DiceState
@( gameData:GameData )


<style>
		#actionPanel {
			background-image: url( @routes.Assets.versioned( "images/stone_background.jpg" ) );
		}
</style>


<div id="actionPanel" class="ropeBorder">
	@gameData.game.state match {
		case _:DiceState => {
			<a href="@routes.GameController.rollTheDices()" id="rollTheDices" class="button asyncButton">
				<img src="@routes.Assets.versioned( "/images/dices.png" )" alt="Roll The Dices" />
			</a>
		}
		case s => {
			<p style="color: white">@s.getClass.getSimpleName</p>
		}
	}
</div>

@buildButton = {

}

@bankTradeButton = {

}

@playerTradeButton = {

}

@buyDevCardButton = {

}

@endTurnButton = {

}