@import com.aimit.htwg.catan.model.Game
@import scala.math._
@import com.aimit.htwg.catan.model.Hex
@import com.aimit.htwg.catan.model.GameField.Row
@import com.aimit.htwg.catan.model.Resource
@import com.aimit.htwg.catan.model._
@import scala.collection.mutable
@import com.aimit.htwg.catan.util.RichOption
@* @( game:Game, resourceImages:Map[Resource, List[String]], resourceCounter:mutable.Map[Resource, Int] = mutable.Map() ) *@
@import model.GameData
@import com.aimit.htwg.catan.model.state.BuildInitRoadState
@import com.aimit.htwg.catan.model.state.BuildState
@import com.aimit.htwg.catan.model.impl.placement.RoadPlacement
@import com.aimit.htwg.catan.model.impl.placement.RoadPlacement
@( gameData:GameData )

@fieldWidth = @{ gameData.gameField.fieldWidth }
@h = @{ 100 / ( 1 + ( gameData.gameField.fieldHeight - 1 ) * 0.75 ) }


<style>
	#grid {
		aspect-ratio: @{ fieldWidth / ( 1 + ( gameData.gameField.fieldHeight - 1 ) * 0.75 ) * cos( 30.toRadians ) };
	}

	.gridRow {
		margin-bottom: calc( @{ 0 - 100 / fieldWidth / cos( 30.toRadians ) * 0.25 }% - 1.3px);
		height: @{ h }%;
	}

	@*.hex, .gridRowSpacer, .hexSpacer {
	}

	.hex:before {
		width: @{ w }vh;
		height: @{ h }vh;
	}

	.gridRowSpacer {
	}

	#gridBottomSpacer {
		height: @{ h * 0.25 }%;
	}*@
</style>


<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<filter id="buildingFilter"><feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
			<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="buildingFilter" />
			<feComposite in="SourceGraphic" in2="buildingFilter" operator="atop"/>
		</filter>
	</defs>
</svg>


<div id="grid">
	@for( row:Row[Hex] <- gameData.gameField.field ) {
		<div class="gridRow">
			@defining( row.filter( _.isDefined ).map( _.get ) ) { hexes =>
				@if( !( ( fieldWidth - hexes.length ).toDouble / 2 ).isWhole ) {
					<div class="gridRowSpacer"></div>
				}
				@for( j <- 0 until ( fieldWidth - hexes.length ) / 2 ) {
					<div class="hexSpacer"></div>
				}
				@for( hex <- hexes ) {
					@buildHex( hex )
				}
			}
		</div>
		<br />
	}
</div>


@buildHex( hex:Hex ) = {
	<div id="hex@hex.id" class="hex @gameData.hexClass( hex )" style="background-image: url( @routes.Assets.versioned( gameData.imagePath( hex ) )">
		@*<img class="hexBackground" src="@routes.Assets.versioned( gameData.imagePath( hex ) )" alt="">*@
		<div class="hexRow1">
			<div class="hexCell hexCell1"></div>
			<div class="hexCell hexCell2"></div>
		</div>
		<div class="hexRow2">
			<div class="hexCell hexCell3"></div>
			<div class="hexCell hexCell5">@road( hex, 2, "roadE" )</div>
			<div class="hexCell hexCell4">
				@hex.area match {
					case area:ResourceArea => {
						<img src="@routes.Assets.versioned( "images/numbers/" + area.number.value + ".png" ) " class=" resourceNumber" alt="@area.number.value" />
					}
					case _ => {}
				}
				@if( gameData.game.gameField.robberHex.hID == hex.id ) {
					<div id="robber">
						<div class="structure">
							<div class="placementBorder"></div>
							<div class="placementContent"></div>
						</div>
					</div>
				}
				@if( gameData.buildablePoints.exists( p => p.isInstanceOf[Hex] && p.id == hex.hID ) ) {
					<a href="@routes.GameController.placeRobber( hex.hID )" class="buildPlacementPoint asyncButton"></a>
				}
			</div>
		</div>
		<div class="hexRow3">
			<div class="hexCell hexCell6">@road( hex, 0, "roadSW" )</div>
			<div class="hexCell hexCell7">@road( hex, 1, "roadSE" )</div>
		</div>
		@vertex( hex, 0, 1, "vertexS" )
		@vertex( hex, 1, 2, "vertexSE" )
	</div>
}


@road( hex:Hex, offsetIndex:Int, positionClass:String ) = {
	@defining( gameData.getEdge( hex, offsetIndex ) ) { edge =>
		@if( edge.isDefined ) {
			<div class="road @positionClass">
				<div class="structure @gameData.structureDisplayClass( edge.get.road )">
					<div class="placementBorder"></div>
					<div class="placementContent @gameData.structureColorClass( edge.get.road )"></div>
				</div>
				@if( edge.isDefined && gameData.buildablePoints.exists( p => p.isInstanceOf[Edge] && p.id == edge.get.eID ) ) {
					<a href="@routes.GameController.build( edge.get.eID )" class="buildPlacementPoint asyncButton"></a>
				}
			</div>
			@* @roadInteraction( edge.get ) *@
		}
	}
}

@*
@roadInteraction( edge:Edge ) = {
	@gameData.game.state match {
		case _:BuildInitRoadState => {
			@roadInteractionView( routes.GameController.saveGame() )
		}
		case s:BuildState => {
			@if( s.structure == RoadPlacement ) {
				@roadInteractionView( routes.GameController.saveGame() )
			}
		}
		case _ =>
	}
}

@roadInteractionView( call:Call ) = {
	<a href="@call" class="gridInteraction"></a>
}
*@

@vertex( hex:Hex, offsetIndex1:Int, offsetIndex2:Int, positionClass:String ) = {
	@defining( gameData.getVertex( hex, offsetIndex1, offsetIndex2 ) ) { vertex =>
		  <div class="vertex @positionClass">
			  <div class="vertexContent">
				  <div class="structure @gameData.structureDisplayClass( vertex.flatMap( _.building ) ) @gameData.buildingClass( vertex.flatMap( _.building ) )">
					  <div class="placementBorder"></div>
					  <div class="placementContent @gameData.structureColorClass( vertex.flatMap( _.building ) )"></div>
				  </div>
				  @if( vertex.isDefined && gameData.buildablePoints.exists( p => p.isInstanceOf[Vertex] && p.id == vertex.get.vID ) ) {
					  <a href="@routes.GameController.build( vertex.get.vID )" class="buildPlacementPoint asyncButton"></a>
				  }
			  </div>
		  </div>
	}
}
